.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin-left: 15px;
    margin-left: 15px;
}

.card__title {
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    color: black;
}

.card__subtitle {
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #118AB2;
}